{% extends "base.html" %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{%  static "challenges/challenges.css" %}"  />
<link rel="stylesheet" href="{%  static "challenges/includes/header.css" %}"  />
{% endblock %}

{% block my_pageTitle %}
All_Challenges
{% endblock %}
{% block content%}
  
{% include "challenges/includes/header.html"  %}

    <ul>
      {% for month in months %}
      <li><a href="{% url "monthly-challenges" month %}">{{ month|title }}</a></li>
      {% endfor %}
    </ul>
    {% endblock %}
 
